################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mqtt-broker/FileContentIndex
/.vs/mqtt-broker/v17
